* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(230, 224, 224);
    color: black;
}
/* Styling Flexbox */
#flexbox-demo-bg {
    background-color: rgb(12, 58, 46);
    color: rgb(243, 233, 233);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: pink;
}

.flex-item{
    background-color: blue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* Styling Grid */ 
.grid-container {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 100px;
    row-gap: 10px;
    column-gap: 20px;
}
.grid-item {
    color: white;
    border: 3px rgb(172, 154, 172);
    width: auto;
    height: auto;
}
.navigation {
    padding: 20px;
    border: 1px solid yellow;
}
.nav_rapper {
    margin: 0 auto;
}
a.w3-bar-item.w3-button {
    font-size: 1rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
}
a.w3-bar-item.w3-button:hover  {
    border-bottom: 2px solid white;
} 
a.w3-bar-item.w3-button:active {
    border-bottom: 2px solid yellow;
}